ul li {
    display: inline;
    border: solid brown 1px;
    border-radius: 1px;
    margin: 10px;
    padding: 10px 0 10px 0;
}

ul li a
{
    color: black;
    text-decoration: none;
    padding: 10px;
}

ul li:hover {
    background: orange;
}

ul li a.active {
    background: yellow;
}